body{
  background-color: #f5f5f5;
  color: #4e4e4e;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.section1 {
  background-image: url(../Images/intro-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar-toggler {
  background-color: #ffffff;
}
.intro .overlay-itro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .9;
}
.navbar-brand{
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  line-height: inherit;
  white-space: nowrap;
}
.intro-title {
  font-size: 4.5rem;
  color: #fff;
  font-weight: 600;
}
.navfixed-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar-b {
  transition: all .5s ease-in-out;
  background-color: transparent;
  padding-top: 1.563rem;
  padding-bottom: 1.563rem;
  padding-left: 16px;
  padding-right: 16px;
}


.navbar-b.navbar-trans .nav-item {
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
}

.navbar-b.navbar-trans .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar-b.navbar-trans .nav-link:before{
  content: '';
  position: absolute;
  margin-left: 0px;
  width: 0%;
  bottom: 0;
  left: 0;
  height: 2px;
  transition: all 500ms ease;
  margin-left: 18px;
}

.navbar-b.navbar-trans .nav-link:hover {
  color: #1B1B1B;
}

.navbar-b.navbar-trans .nav-link:hover:before {
  width: 35px;
}

.navbar-b.navbar-trans .show > .nav-link:before,
.navbar-b.navbar-trans .active > .nav-link:before,
.navbar-b.navbar-trans .nav-link.show:before,
.navbar-b.navbar-trans .nav-link.active:before{
  width: 35px;
}

.navbar-b.navbar-trans .nav-link:before {
  background-color: #fff;
}

.navbar-b.navbar-trans .nav-link:hover {
  color: #fff;
}


.intro-subtitle {
  color: #fff;
  font-size: 2.5rem;
}

.intro-subtitle::after {
  content: "I";
  animation: typingp;
  animation-iteration-count: infinite;
  animation-duration: 15s;
}


@keyframes typingp {
  0% {
    content: "C|";
  }

  0.5% {
    content: "CE|";
  }

  1% {
    content: "CEO|";
  }

  1.5% {
    content: "CEO D|";
  }

  2% {
    content: "CEO De|";
  }

  2.5% {
    content: "CEO Dev|";
  }

  3% {
    content: "CEO DevF|";
  }

  3.5% {
    content: "CEO DevFo|";
  }

  4% {
    content: "CEO DevFol|";
  }

  4.5% {
    content: "CEO DevFoli|";
  }

  5% {
    content: "CEO DevFolio|";
  }

  5.5% {
    content: "CEO DevFolio|";
  }

  6% {
    content: "CEO DevFoli|";
  }

  6.5% {
    content: "CEO DevFol|";
  }

  7% {
    content: "CEO DevFo|";
  }

  7.5% {
    content: "CEO DevF|";
  }

  8% {
    content: "CEO Dev|";
  }

  8.5% {
    content: "CEO De|";
  }

  9% {
    content: "CEO D|";
  }

  9.5% {
    content: "CEO|";
  }

  10% {
    content: "CE|";
  }

  10.5% {
    content: "C|";
  }

  11% {
    content: "|";
  }

  11.5% {
    content: "W|";
  }

  12% {
    content: "We|";
  }

  12.5% {
    content: "Web|";
  }

  13% {
    content: "Web |";
  }

  13.5% {
    content: "Web D|";
  }

  14% {
    content: "Web De|";
  }

  14.5% {
    content: "Web Dev|";
  }

  15% {
    content: "Web Deve|";
  }

  15.5% {
    content: "Web Devel|";
  }

  16% {
    content: "Web Develo|";
  }

  16.5% {
    content: "Web Develop|";
  }

  17% {
    content: "Web Develope|";
  }

  17.5% {
    content: "Web Developer|";
  }

  18% {
    content: "Web Developer|";
  }

  18.5% {
    content: "Web Develope|";
  }

  19% {
    content: "Web Develop|";
  }

  19.5% {
    content: "Web Develo|";
  }

  20% {
    content: "Web Devel|";
  }

  20.5% {
    content: "Web Deve|";
  }

  21% {
    content: "Web Dev|";
  }

  22.5% {
    content: "Web De|";
  }

  23% {
    content: "Web D|";
  }

  23.5% {
    content: "Web |";
  }

  24% {
    content: "Web D|";
  }

  24.5% {
    content: "Web De|";
  }

  25% {
    content: "Web Des|";
  }

  26% {
    content: "Web Desi|";
  }

  27% {
    content: "Web Desig|";
  }

  28% {
    content: "Web Design|";
  }

  29% {
    content: "Web Designe|";
  }

  30% {
    content: "Web Designer|";
  }

  31% {
    content: "Web Designer|";
  }

  32% {
    content: "Web Designe|";
  }

  33% {
    content: "Web Design|";
  }

  34% {
    content: "Web Desig|";
  }

  35% {
    content: "Web Desi|";
  }

  36% {
    content: "Web Des|";
  }

  37% {
    content: "Web De|";
  }

  38% {
    content: "Web D|";
  }

  39% {
    content: "Web |";
  }

  40% {
    content: "Web|";
  }

  41% {
    content: "We|";
  }

  42% {
    content: "W|";
  }

  43% {
    content: "|";
  }

  44% {
    content: "F|";
  }

  45% {
    content: "Fr|";
  }

  46% {
    content: "Fro|";
  }

  47% {
    content: "Fron|";
  }

  48% {
    content: "Front|";
  }

  49% {
    content: "Fronte|";
  }

  50% {
    content: "Fronten|";
  }

  51% {
    content: "Frontend|";
  }

  52% {
    content: "Frontend |";
  }

  53% {
    content: "Frontend D|";
  }

  54% {
    content: "Frontend De|";
  }

  55% {
    content: "Frontend Dev";
  }

  56% {
    content: "Frontend Deve|";
  }

  57% {
    content: "Frontend Devel|";
  }

  58% {
    content: "Frontend Develo|";
  }

  59% {
    content: "Frontend Develop|";
  }

  60% {
    content: "Frontend Develope|";
  }

  61% {
    content: "Frontend Developer|";
  }

  62% {
    content: "Frontend Developer|";
  }

  63% {
    content: "Frontend Develope|";
  }

  64% {
    content: "Frontend Develop|";
  }

  65% {
    content: "Frontend Develo|";
  }

  66% {
    content: "Frontend Devel|";
  }

  67% {
    content: "Frontend Deve|";
  }

  68% {
    content: "Frontend Dev|";
  }

  69% {
    content: "Frontend De|";
  }

  70% {
    content: "Frontend D|";
  }

  71% {
    content: "Frontend |";
  }

  72% {
    content: "Frontend|";
  }

  73% {
    content: "Fronten|";
  }

  74% {
    content: "Fronte|";
  }

  75% {
    content: "Front|";
  }

  76% {
    content: "Fron|";
  }

  77% {
    content: "Fro|";
  }

  78% {
    content: "Fr|";
  }

  79% {
    content: "F|";
  }

  80% {
    content: "|";
  }

  81% {
    content: "|";
  }

  82% {
    content: "G|";
  }

  83% {
    content: "Gr|";
  }

  84% {
    content: "Gra|";
  }

  85% {
    content: "Grap|";
  }

  86% {
    content: "Graph|";
  }

  87% {
    content: "Graphi|";
  }

  88% {
    content: "Graphic|";
  }

  89% {
    content: "Graphic |";
  }

  90% {
    content: "Graphic |";
  }

  91% {
    content: "Graphic D|";
  }

  92% {
    content: "Graphic De|";
  }

  93% {
    content: "Graphic Des|";
  }

  94% {
    content: "Graphic Desi|";
  }

  95% {
    content: "Graphic Desig|";
  }

  96% {
    content: "Graphic Design|";
  }

  97% {
    content: "Graphic Designe|";
  }

  98% {
    content: "Graphic Designer|";
  }

  99% {
    content: "Graphic Designer|";
  }
  100% {
    content: "Graphic Designer|";
  }
}

.section2 {
  width: 100%;
  padding-top: 64px;
}
.section2boxshadow {
  width: 100%;
  padding: 3rem;
  padding-top: 4rem;
    padding-bottom: 4rem;
    margin-bottom: 3rem;
    z-index: 2;
  background-color: #fff;
  position: relative;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
}
.title-box-2 {
  margin-bottom: 3rem;
}

.title-left {
  font-size: 2rem;
  color: #1e1e1e;
  position: relative;
}

.title-left:before {
  content: '';
  position: absolute;
  height: 3px;
  background-color: #0078ff;
  width: 100px;
  bottom: -12px;
}
.section2boxshadow .about-img 
{
  margin-bottom: 32px;
}
.section2boxshadow .about-img img
{
  margin-left: 10px;
}
.section2boxshadow  .title-s
{
  font-weight: 600;
  color: #1e1e1e;
  font-size: 1.1rem;
}
.section2boxshadow  .progress
{
  font-size: .75rem;
  background-color: #cde1f8;
  margin: 0.5rem 0 1.2rem 0;
  border-radius: 0;
  height: 0.7rem;
}
.pull-right{
  float: right;
}
.title-box
{
  margin-bottom: 4rem;
}
.title-a{
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #1e1e1e;
  margin-bottom: 0.5rem;
  font-family: inherit;
  line-height: 1.2;
}
.subtitle-a{
  margin-top: 0;
  margin-bottom: 1rem;
  color: #4e4e4e;
}
.line-mf{
  width: 40px;
  height: 5px;
  background-color: #0078ff;
margin: 0 auto;
}
.service-box
{
  box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
  background-color: #fff;
  padding: 2.5rem 1.3rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

.service-box .service-ico
{
  margin-bottom: 1rem;
  color: #1e1e1e;
}
.service-box .ico-circle
{
  color: #1e1e1e;
  height: 100px;
  width: 100px;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1.55;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 0 10px #0078ff;
  display: block;
  transition: all 500ms ease;
    font-size: 4rem;
}
.service-box:hover .ico-circle{
  transition: all 500ms ease;
  color: #fff;
  background-color: #0078ff;
  box-shadow: 0 0 0 10px #cde1f8;
}
.ion-monitor:before {
  content: "\f20a";
  display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.service-box .s-description
{
  color: #4e4e4e;
}

.service-box .s-title
{
  font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0.4rem 0;
}

.service-content
{
}
.section4
{
  
  padding: 8rem 0;
  box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);

}


.counter-ico {
  margin-bottom: 1rem;
}

.counter-ico .ico-circle {
  height: 60px;
  width: 60px;
  line-height: 1.8;
  box-shadow: 0 0 0 10px #cde1f8;
}

.counter-num .counter {
  font-size: 2rem;
  margin-bottom: 0;
}

.paralax-mf {
  position: relative;
  padding: 8rem 0;
}

.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.overlay-mf {
  background-color: #0078ff;
}

.overlay-mf {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .7;
}

.counter-box {
  position: relative;
  color: #fff;
  text-align: center;
}

.counter-ico {
  margin-bottom: 1rem;
}

.counter-ico .ico-circle {
  height: 60px;
  width: 60px;
  line-height: 1.8;
  box-shadow: 0 0 0 10px #cde1f8;
}

.counter-num .counter {
  font-size: 2rem;
  margin-bottom: 0;
}

.ico-circle {
  height: 100px;
  width: 100px;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1.55;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 0 10px #0078ff;
  display: block;
}


.section5{
width: 100%;
}

.section5 .work-box{
  margin-bottom: 3rem; 
     backface-visibility: hidden;
  background-color: #fff;
  box-shadow: 0px 13px 8px -10px rgb(0 0 0 / 10%);
}
.section5 .work-box a{
  text-decoration: none; 
     color: #1e1e1e;
  transition: all 0.5s ease-in-out;
}
.section5 .work-img {
  display: block;
  overflow: hidden;
}
.section5 .work-box img
{
  transition: all 1s;
  vertical-align: middle;
  border-style: none;
}
.section5 .work-box img:hover{
 transform: scale(1.3);
}
.section5 .work-content{
  padding: 2rem 3% 1rem 4%;
}
.section5 .work-content .w-like {
  font-size: 2.5rem;
  color: #0078ff;
  float: right;
}
.section5 .w-title{   
   font-size: 1.2rem;color: #1e1e1e;
}
.section5 .work-content .w-more {
  color: #4e4e4e;
  font-size: .8rem;
}

.section5 .work-content .w-more .w-ctegory {
  color: #0078ff;
}

.section6
{
  background-image: url(../images/overlay-bg.jpg);
}

.section6imgbox{
  margin: auto;text-align: center;
}
.section6imgbox img{
  
  border-radius: 50%;
}
.carousel-indicators{
  margin-bottom: -1.5rem;
  
}
.carousel-indicators [data-bs-target] {
  height: 7px;
  width: 20px;
}
.carousel-indicators .active{
 width: 40px;
}
.carousel-caption {
  position: unset;
}
.carousel-caption h5
{
  color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 1rem 0;
    display: block;
    font-size: 1.4rem;
    user-select: none;
}
.carousel-caption p
{
  color: #fff;
  font-size: 1.25rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0 8rem;
  user-select: none;
}
.carousel-caption .comit {
  font-size: 2rem;
  color: #0078ff;
  background-color: #fff;
  width: 52px;
  height: 52px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  line-height: 1.6;
  user-select: none;
}
.carousel-inner .carousel-item {
  
  transition: transform 1s ease;
}


.sect-pt4{
  padding-top: 4rem;
}
.card-blog {
  margin-bottom: 3rem;
}
.card-blog .card-body {
  position: relative;
}
.card-blog .card-category-box {
  position: absolute;
  text-align: center;
  top: -16px;
  left: 15px;
  right: 15px;
}
.card-blog .card-category {
  display: inline-block;
  color: #fff;
  padding: 0 15px 5px;
  overflow: hidden;
  background-color: #0078ff;
  border-radius: 4px;
}

.card-blog .card-category .category {
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  font-size: .7rem;
  letter-spacing: .1px;
  margin-bottom: 0;
}
.card-title a{
  text-decoration: none;
  color: #1e1e1e;
  transition: all 0.5s ease-in-out;    font-size: 1.3rem;
}
.card-blog .post-author {
  display: inline-block;
}

.card-blog .post-date {
  color: #4e4e4e;
  float: right;
}
.post-author a{
  color: #1e1e1e;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}
.post-author a:hover{
  color: #007bff;
}
.avatar {
  width: 32px;
  height: 32px;
  margin-right: 4px;
  overflow: hidden;
}
.sect-mt4 {
  margin-top: 4rem;
}.contact-mf {
  margin-top: 4rem;
}
.box-shadow-full {
  padding: 3rem;    position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
}
.socials {
  padding: 1.5rem 0;
}
.socials .ico-circle {
  height: 40px;
  width: 40px;
  font-size: 1.7rem;
  border-radius: 50%;
  line-height: 1.4;
  margin: 0 15px 0 0;
  box-shadow: 0 0 0 3px #0078ff;
  transition: all 500ms ease;
  text-align: center;
}
.socials .ico-circle:hover {
  background-color: #0078ff;
  color: #fff;
  box-shadow: 0 0 0 3px #cde1f8;
  transition: all 500ms ease;
}
.socials a{
  text-decoration: none;
  color: #1B1B1B;
}

.socials ul{
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.list-ico 
{
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.list-ico span {
  color: #0078ff;
  margin-right: 10px;
}
.buttonmostafa{
  display: inline-block;
  padding: 0.3rem 0.6rem;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  transition: all 500ms ease;
  cursor: pointer;
  padding: 0.9rem 2.3rem;
  font-size: 1.2rem;
  border-radius: 5rem;
  background-color: #0078ff;
  color: #fff;
  border-color: #cde1f8;
}
.buttonmostafa:focus {
  outline: 0;
}
.buttonmostafa:hover{
  background-color: #0062d3;
  color: #fff;
  transition: all 500ms ease;
  }

  .copyright-box
  {
   text-align: center;
   position: relative;
   color: #f5f5f5;
  }
  .copyright-box a
{
  margin-top: 0;
  margin-bottom: 0rem;
 color: #f5f5f5;
 text-decoration: none;
}  
.copyright-box p
{
  margin-top: 0;
  margin-bottom: 0rem;
}


.back-to-top{
  position: fixed;
  background: #0078ff;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 1;
  font-size: 20px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}
.back-to-top i {
  padding-top: 12px;
  color: #fff;
}



@media screen and (max-width: 1024px){
.section4 {
    background-attachment: scroll;
}
}

@media screen and (min-width: 577px){
.counter-box {
    margin-bottom: 1.8rem;
}
}
@media screen and (max-width: 1024px){
.section6 {
    background-attachment: scroll;
}
}